.item-sheet {
  background-color: rgb(232, 236, 235);
  min-height: 400px;
  min-width: 400px;
  margin: -8px;

  /* Variables */
  --white: rgb(251, 251, 251);
  --dark-green: rgb(159, 178, 169);
  --dark-green-40pct: rgba(159, 178, 169, 0.4);
  --darker-green: rgb(72, 104, 88);
  --light-green: rgb(235, 240, 238);
}

.item-sheet table {
  width: unset;
  border-collapse: collapse;
  background: var(--white);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0.5em 0;
}

.item-sheet table thead {
  background: var(--dark-green);
  color: black;
  text-shadow: none;
  border-top: 3px solid var(--darker-green);
  border-bottom: 1px solid var(--dark-green);
  text-align: left;
}

.item-sheet table thead th,
.item-sheet table tbody td {
  padding-left: 5px;
}

.item-sheet table tr:nth-child(2n) {
  background-color: var(--light-green);
}

.header {
  padding: 10px;
}

.header-top {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-family: "NewsflashBB";
  width: 100%;
}

.header-top h1 {
  border-bottom: none;
  margin-left: 10px;
}

.header-top h1 input {
  background: none;
  border: 1px solid transparent;
  display: block;
  height: 40px;
  line-height: 24px;
}

.item-sheet table.attributes {
  min-width: 200px;
}

.attributes__source__text,
.attributes__source__link {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.attributes__source__text input,
.attributes__source__link input {
  background: none;
  border: 1px solid transparent;
  font-size: 14px;
  height: 18px;
}

.attributes__source__text input::placeholder,
.attributes__source__link input::placeholder {
  color: lightgrey;
}

.attributes__source__link input {
  font-size: 12px;
  height: 15px;
  text-overflow: ellipsis;
}

.item-sheet__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.item-sheet__tab {
  font-size: 13px;
  text-align: left;
  height: 26px;
  padding: 5px 1rem 0 1rem;
  flex: 1 1 auto;
}

.item-sheet__tab:hover {
  text-shadow: none;
}

.item-sheet__tab[data-selected="false"] {
  border-bottom: solid 2px var(--dark-green-40pct);
  max-width: calc(100% / 3);
}

.item-sheet__tab[data-selected="true"] {
  background: var(--dark-green-40pct);
  font-weight: 700;
}

.tab-content {
  padding: 10px;
}

.tab-content[data-selected="false"] {
  display: none;
}

.description {
  background: var(--white);
  width: 100%;
}

.description :global {
  .editor {
    // Need to define height in terms of px in order to show.
    // Valued min-height does not work.
    height: 200px;
  }
}

.tab-content[data-tab="effects"] table {
  width: 100%;
}

.details-form__label {
  min-width: 35%;
}

.details-form__range-field {
  display: inline;
}

.details-form__range-field input {
  width: 100px;
}

.details-form__num-field input {
  width: 100px;
}
